<div class="load">
	<mat-progress-bar *ngIf="load" color="primary" mode="indeterminate"></mat-progress-bar>
</div>

<div class="topic-page">
	<div class="add-topic-button">
		<div class="empty-field"></div>
		<div class="topic-buttons">
			<button mat-fab color="primary" (click)="addTopic()">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</div>

	<form [formGroup]="topicForm" (ngSubmit)="onSubmit()">
		<div formArrayName="topics" *ngFor="let item of topics.controls; let i = index" class="new-topic">
			<mat-form-field appearance="fill">
				<mat-label>{{ 'CREATE_PAGE.TOPIC' | translate }} {{i + 1}}</mat-label>
				<input matInput #message maxlength="35" type="text" [formControlName]="i" />
				<mat-error *ngIf="item.hasError('required')">{{ 'CREATE_PAGE.REQUIRED' | translate }}</mat-error>
				<mat-error *ngIf="item.hasError('minlength')">{{ 'CREATE_PAGE.TWO_SYMBOLS' | translate }}</mat-error>
				<mat-hint align="end">{{message.value.length}} / 35</mat-hint>
			</mat-form-field>

			<div class="delete-topic topic-buttons">
				<button mat-mini-fab type="button" color="warn" (click)="deleteTopic(i)">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</div>

		<div class="submit-topics">
			<button
				mat-raised-button
				color="primary"
				class="submit-btn"
				type="submit"
				[disabled]="!topicForm.valid || load"
			>
				{{ 'CREATE_PAGE.SUBMIT' | translate }}
			</button>
		</div>
	</form>
</div>
