@import '../../../styles/base';
@import '../../../styles/font';

.main-content {
	height: 100vh;
	background: $white;

	.outlet-wrapper {
		position: relative;
		height: 100%;
		padding: $header-height 0 $footer-height 0;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background: $white;
	}
}

::ng-deep {
	.title {
		color: $dark-gray;
		max-width: 100vw;
		font-size: 30px;
		line-height: 60px;
		text-align: center;

		@include media(max, M) {
			margin: 0;
			font-size: 20px;
			line-height: 40px;
		}
	}
}
