@import '../../../styles/base';
@import '../../../styles/font';

.main-content {
	height: 100vh;
	background: $white;

	.outlet-wrapper {
		position: relative;
		height: 100%;
		padding: $header-height 0 $footer-height 0;
		width: 100%;
		max-width: $app-width;
		margin-left: auto;
		margin-right: auto;
		background: $white;
	}
}

::ng-deep div.title {
	max-width: 100vw;
	font-size: 30px;
	line-height: 60px;
	margin-left: 20px;
	text-align: left;

	@include media(max, M) {
		text-align: center;
		margin: 0;
		font-size: 20px;
		line-height: 40px;
	}
}
