@import '../../../styles/colors';
@import '../../../styles/mixins/media-query.scss';

.new-listening-container {
	display: flex;
}

.upload-file {
	display: flex;
	margin: auto;
	margin-right: 0;
}

.upload {
	display: flex;
	flex-direction: column;

	.fileInput {
		display: none;
	}

	.buttons {
		display: flex;
		margin: 20px auto;
	}

	.file-name {
		margin: auto;
	}

	.delete-button,
	.upload-button {
		margin: 20px;
		padding-bottom: 10px;
	}
}

.listen-audio-btn {
	width: 200px;
	margin: 60px 0;
}

.progress-bar {
	width: 200px;
	margin: 10px 0;

	.progress {
		height: 4px;
	}
}

.new-listening {
	display: flex;
	margin: auto;

	mat-error {
		font-size: 13px;
	}
}

.level-container {
	margin-right: 70px;
	mat-form-field {
		width: 100%;
		min-width: 590px;
	}
}

.answer-block {
	mat-form-field {
		min-width: 590px;
	}
}

.answer-container {
	display: flex;
	height: 80px;
	margin-top: 5px;
}

.question-container {
	margin-top: 10px;
	margin-right: 60px;

	textarea {
		height: 70px;
		resize: none;
	}
}

.radio-container {
	display: flex;
	margin: auto;
	padding-left: 30px;
	width: 60px;
	height: 60px;
}

.submit-audio-btn {
	margin-top: 10px;
	height: 50px;
	width: 590px;
}

.loadServer {
	padding-top: 26px;
	padding-bottom: 4px;
	height: 3px;
}

.audition-tabs ::ng-deep.mat-tab-label,
.audition-tabs ::ng-deep.mat-tab-label-active {
	min-width: 30px !important;
	padding: 3px !important;
	margin: 3px !important;
}

.audition-tabs ::ng-deep .mat-tab-header {
	width: 490px;
	border-bottom: none;
	margin-left: 60px;
}

@mixin adapt($width, $margin-left) {
	.new-listening-container {
		flex-direction: column;
	}

	.new-listening {
		margin: auto;
		padding-left: $margin-left;
	}

	.level-container {
		mat-form-field {
			min-width: $width;
		}
	}

	.answer-block {
		mat-form-field {
			min-width: $width;
		}
	}

	.submit-audio-btn {
		margin-bottom: 10px;
		width: $width;
	}

	.audition-tabs ::ng-deep .mat-tab-header {
		margin-left: 0;
		width: $width;
	}
}

@mixin adaptAudio($width, $margin) {
	.listen-audio-btn {
		width: $width;
	}

	.progress-bar {
		width: $width;
	}

	.upload-file {
		margin: auto;
	}

	.upload {
		padding-right: $margin;
	}
}

@include media(max, XL) {
	@include adapt(560px, 60px);
	@include adaptAudio(260px, 0);
}

@include media(max, L) {
	@include adapt(490px, 60px);
	@include adaptAudio(260px, 60px);
}

@include media(max, M) {
	@include adapt(400px, 20px);
	@include adaptAudio(260px, 20px);
}

@include media(max, S) {
	@include adapt(260px, 20px);
	@include adaptAudio(310px, 0);
}

@include media(max, XS) {
	@include adapt(230px, 10px);
	@include adaptAudio(290px, 0);
}
