@import '../../../styles/base';

.login-page {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;

	background: linear-gradient(45deg, #23ffab, #2196f3, #2196f3, #23ffab);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 60%;
	}
	50% {
		background-position: 100% 40%;
	}
	100% {
		background-position: 0% 60%;
	}
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 16px;
	.logo {
		width: 80px;
		height: 80px;
	}
}
.form-container {
	width: 50%;
	max-width: 500px;
}
.form-card {
	display: flex;
	flex-direction: row;
}
.login-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	.btn {
		height: 60px;
	}
}
