@import '../../../styles/base';

.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	background-color: $super-light-gray;
	min-height: 100vh;
}

.form-container {
	position: relative;
}

.left-top-arrow {
	position: absolute;
	top: -50px;
	left: -60px;
}
.right-bot-arrow {
	position: absolute;
	bottom: -50px;
	right: -60px;
}

.form-card {
	min-height: 50%;
	min-width: 45%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
}

.logo-container img {
	height: 100px;
}

.logo-container,
.btn {
	align-self: center;
}

.btn {
	min-height: 80px;
	min-width: 130px;
}
