@import '../../../styles/base';

.login-page {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background: $super-light-gray;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 16px 0;
	.logo {
		width: 100%;
		max-width: 200px;
	}
}
.form-container {
	width: 80%;
	max-width: 500px;
}
.form-card {
	display: flex;
	flex-direction: column;
}
.login-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	.btn {
		height: 60px;
	}
	mat-error {
		font-size: 12px;
	}
}
::ng-deep .mat-form-field-subscript-wrapper {
	margin: 0;
}
app-footer {
	display: none;
}

@include media(max, S) {
	.form-container {
		width: 100%;
	}
}
