<footer class="footer">
	<span class="footer-title">
		<a class="footer-title" href="https://www.youtube.com/watch?v=HIcSWuKMwOw">{{ 'FOOTER.GROUP' | translate }}</a>
		2. {{ 'FOOTER.LAST_CHANGES' | translate }} : 01.01.21
	</span>
	<mat-label class="label-style"
		>{{ 'HOME.SELECT' | translate }}
		<select
			#langSelect
			(change)="translateService.use(langSelect.value); cookies.set('lastSelectedLanguage', langSelect.value)"
		>
			<option
				*ngFor="let lang of translateService.getLangs()"
				[value]="lang"
				[selected]="lang === translateService.currentLang"
			>
				{{ lang }}
			</option>
		</select>
	</mat-label>
</footer>
