@import '../../../styles/base';

.footer {
	width: 100vw;
	text-align: center;
	position: fixed;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-color: $super-light-blue;
	z-index: 666;

	.footer-title {
		font-size: $font-body;
		color: $gray;
		text-decoration: none;
		cursor: default;
	}

	.label-style {
		text-align: right;
		margin-left: 20px;
		color: $gray;
	}
}

.toaster-exalearn {
	::ng-deep {
		.toast-info {
			background-color: $blue;
		}

		.icon-info {
			background-image: url(https://image.flaticon.com/icons/png/128/1047/1047711.png) !important;
			background-size: 60px;
		}

		.toast-progress-bar {
			color: $white;
		}

		.toast-container > div {
			width: 400px !important;
		}

		.toast-title {
			text-shadow: 1px 1px 2px $black;
			margin-bottom: 15px !important;
		}

		.toast-content {
			padding: 15px 15px 15px 100px !important;
		}
	}
}
