@import '../../../styles/base';

.footer {
	width: 100vw;
	text-align: center;
	position: fixed;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-color: $super-light-blue;
	z-index: 666;

	.footer-title {
		font-size: $font-body;
		color: $gray;
		text-decoration: none;
	}

	.label-style {
		text-align: right;
		margin-left: 20px;
		color: $gray;
	}
}
