@import '../../../styles/base';

.footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-color: $super-light-gray;
}

.footer-title {
	font-size: $font-body;
	color: $gray;
}

.label-style {
	text-align: right;
	margin-left: 20px;
	color: $gray;
}
