@import '../../../styles/base';

.footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
	height: $footer-height + 10px;
	line-height: $footer-height;
	background-color: $super-light-blue;
	z-index: 666;

	.footer-contents {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.footer-title {
		color: $gray;
		text-decoration: none;
		cursor: default;
	}

	.label-style {
		text-align: right;
		margin-left: 20px;
		color: $gray;
	}

	.select-container {
		margin: 0 0 0 20px;
		padding: 0;
		position: relative;
		border-radius: 4px;
		background-color: $white;

		.sel {
			font-size: 1rem;
			font-weight: normal;
			max-width: 100%;
			padding: 4px 24px 4px 10px;
			border: none;
			background-color: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		.sel:active,
		.sel:focus {
			outline: none;
			box-shadow: none;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 8px;
			width: 0;
			height: 0;
			margin-top: -4px;
			border-top: 5px solid #aaa;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}
}

.toaster-exalearn {
	::ng-deep {
		.toast-info {
			background-color: $blue;
		}

		.icon-info {
			background-image: url('~src/assets/images/cookie.png') !important;
			background-size: 60px;
		}

		.toast-progress-bar {
			color: $white;
		}

		.toast-container > div {
			width: 400px !important;
		}

		.toast-title {
			text-shadow: 1px 1px 2px $black;
			margin-bottom: 15px !important;
		}

		.toast-content {
			padding: 15px 15px 15px 100px !important;
		}
	}
}
