<form class="example-form" *ngIf="displaySearch">
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>{{ 'TABLES.SEARCH' | translate}}</mat-label>
		<input matInput placeholder="Enter name" (input)="applyFilter($event)" />
	</mat-form-field>
</form>

<div class="mat-elevation-z8 user-table-wrapper">
	<table mat-table [dataSource]="dataSource" matSort class="table">
		<ng-container matColumnDef="username">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.USER' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.username}}</td>
		</ng-container>

		<ng-container matColumnDef="fullName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.USER' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}</td>
		</ng-container>

		<ng-container matColumnDef="level">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.LEVEL' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.level}}</td>
		</ng-container>

		<ng-container matColumnDef="passed">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.PASSED' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.passed}}</td>
		</ng-container>

		<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.DATE' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.date | date }}</td>
		</ng-container>

		<ng-container matColumnDef="expire">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.EXPIRE_DATE' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.expire | date }}</td>
		</ng-container>

		<ng-container matColumnDef="totalScore">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.MARK' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.totalScore}}</td>
		</ng-container>

		<ng-container matColumnDef="assigned by">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'TABLES.ASSIGNED_BY' | translate}}</th>
			<td mat-cell *matCellDef="let element">{{element.assigner}}</td>
		</ng-container>

		<ng-container matColumnDef="assign test">
			<th mat-header-cell *matHeaderCellDef class="btn-column"></th>
			<td mat-cell *matCellDef="let element" class="btn-column">
				<button mat-raised-button color="primary" (click)="openAssignDialog(element)">
					{{ 'TABLES.ASSIGN' | translate}}
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="view test">
			<th mat-header-cell *matHeaderCellDef class="btn-column"></th>
			<td mat-cell *matCellDef="let element" class="btn-column">
				<button mat-raised-button color="primary" (click)="openViewTestDialog(element)">
					{{ 'TABLES.VIEW' | translate}}
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="start">
			<th mat-header-cell *matHeaderCellDef class="btn-column"></th>
			<td mat-cell *matCellDef="let element" class="btn-column">
				<button mat-raised-button color="primary" (click)="openStartTestDialog(element)">
					{{ 'TABLES.START' | translate}}
				</button>
			</td>
		</ng-container>

		<ng-container matColumnDef="check">
			<th mat-header-cell *matHeaderCellDef class="btn-column"></th>
			<td mat-cell *matCellDef="let element" class="btn-column">
				<a href="/check-test-item" class="link-btn">
					<button mat-raised-button color="primary" (click)="openCheckTest(element)">
						{{ 'TABLES.CHECK' | translate}}
					</button>
				</a>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>
