@import '../../../styles/base';
@import '../../../styles/mixins/media-query';

.example-form {
	text-align: center;
}

.user-table-wrapper {
	margin: 0 50px 50px 50px;
}

.table {
	width: 100%;
}

td {
	text-align: center;
}
td:first-child {
	text-align: start;
}
td:last-child {
	text-align: end;
}

::ng-deep th .mat-sort-header-container {
	justify-content: center !important;
	padding-left: 18px;
}
::ng-deep th:first-child .mat-sort-header-container {
	justify-content: flex-start !important;
	padding-left: 0;
}
::ng-deep th:last-child .mat-sort-header-container {
	justify-content: flex-end !important;
	padding-left: 0;
	margin-right: -18px;
}

::ng-deep tbody tr.mat-row {
	height: 40px;
}
::ng-deep td button.mat-raised-button {
	line-height: 29px;
}

@include mediaHeight(min, M) {
	::ng-deep tbody tr.mat-row {
		height: 48px;
	}
	::ng-deep td button.mat-raised-button {
		line-height: 36px;
	}
}

@include media(max, M) {
	.user-table-wrapper {
		margin: 0 0 10px 0;
	}
	td {
		font-size: 12px;
	}
}
