.example-form {
	margin-top: 20px;
	text-align: center;
}
.user-table-wrapper {
	margin: 20px 50px;
}
.table {
	width: 100%;
}
.btn-column {
	text-align: end;
}
::ng-deep th.mat-header-cell:last-of-type.btn-column {
	padding-right: 45px;
}
