.example-form {
	text-align: center;
}

.user-table-wrapper {
	margin: 0 50px 50px 50px;
}

.table {
	width: 100%;
}

td {
	text-align: center;
}
td:first-child {
	text-align: start;
}
td:last-child {
	text-align: end;
}

::ng-deep th .mat-sort-header-container {
	justify-content: center !important;
	padding-left: 18px;
}
::ng-deep th:first-child .mat-sort-header-container {
	justify-content: flex-start !important;
	padding-left: 0;
}
::ng-deep th:last-child .mat-sort-header-container {
	justify-content: flex-end !important;
	padding-left: 0;
	margin-right: -18px;
}
