<div class="view-test-modal">
	<h2 mat-dialog-title><span class="username">{{data.username}}</span> test info</h2>
	<div class="level-date-container">
		<div class="testInfo">
			<span class="underline">{{ 'VIEW_TEST_MODAL.LEVEL' | translate }}</span>: {{data.level}}
		</div>
		<div class="slash">|</div>
		<div class="testInfo">
			<span class="underline">{{ 'VIEW_TEST_MODAL.TOTAL' | translate }}</span>:
			<span class="total-mark">{{data.totalScore}}/10</span>
		</div>
	</div>
	<div class="testInfo date-container">
		<span class="underline">{{ 'VIEW_TEST_MODAL.FINISH_DATE_AND_TIME' | translate }}</span>: {{data.date | date:'MMM
		d y h:mm a'}}
	</div>
	<button class="close-btn" type="button" mat-icon-button color="warn" (click)="closeModal()">
		<mat-icon>close</mat-icon>
	</button>
</div>
