<app-header></app-header>
<div class="test">
	<div class="container test-container">
		<mat-tab-group class="tabs_content" animationDuration="0ms">
			<mat-tab label="Grammar">
				<div class="test_tab__body">Grammar component goes here</div>
			</mat-tab>
			<mat-tab label="Listening">
				<div class="test_tab__body">Listening component goes here</div>
			</mat-tab>
			<mat-tab label="Writing">
				<div class="test_tab__body">Writing component goes here</div>
			</mat-tab>
			<mat-tab label="Speaking">
				<div class="test_tab__body">Speaking component goes here</div>
			</mat-tab>
		</mat-tab-group>
	</div>
	<div class="timer">
		<div class="timer__time_left">Time left:</div>
		<div class="timer__data">{{ mins }}</div>
		<div>:</div>
		<div class="timer__data">{{ secs }}</div>
	</div>
</div>
