<div class="question">
	<div class="question-text">{{question.questionText}}</div>
	<div class="radio-choice-group">
		<mat-radio-group aria-label="Select an option" [(ngModel)]="question.userAnswer">
			<div class="btn-wrapper" *ngFor="let choice of question.choices">
				<button mat-raised-button class="radio-btn">
					<mat-radio-button
						[value]="choice"
						[checked]="choice === question.userAnswer"
						class="radio-btn"
						[disabled]="choice !== question.rightAnswer"
						>{{choice}}<span *ngIf="choice === question.rightAnswer"
							>{{ 'CHECK_QUESTION.RIGHT_ANSWER' | translate }}
						</span></mat-radio-button
					>
				</button>
			</div>
		</mat-radio-group>
	</div>
</div>
