<div class="question">
	<div *ngIf="answer.reportedMessage" class="reported">
		{{ 'USER_REPORTED.USER_REPORTED_THIS_QUESTION' | translate }}
		<button
			mat-raised-button
			color="warn"
			class="view-comment-btn"
			(click)="openReportComment(answer.reportedMessage)"
		>
			{{ 'USER_REPORTED.VIEW_COMMENT' | translate }}
		</button>
	</div>
	<div class="question-text">{{answer.questionText}}</div>
	<span *ngIf="answer.isArchive" class="deleted">{{'QUESTION_EDIT_MODAL.DELETED' | translate}}</span>
	<div class="radio-choice-group">
		<mat-radio-group aria-label="Select an option" [(ngModel)]="answer.userAnswer">
			<div class="btn-wrapper" *ngFor="let choice of answer.answers">
				<button mat-raised-button class="radio-btn">
					<mat-radio-button
						[value]="choice.text"
						[checked]="choice.text === answer.userAnswer"
						class="radio-btn"
						[disabled]="choice.text !== answer.rightAnswer.text || (choice.text === answer.rightAnswer.text && answer.rightAnswer.text !== answer.userAnswer)"
						>{{choice.text}}<span *ngIf="choice.text === answer.rightAnswer.text"
							>{{ 'CHECK_QUESTION.RIGHT_ANSWER' | translate }}
						</span></mat-radio-button
					>
				</button>
			</div>
			<div class="check-question-message" *ngIf="answer.userAnswer === null">
				{{ 'CHECK_QUESTION.EMPTY_CHOSEN' | translate }}
			</div>
		</mat-radio-group>
	</div>
	<button mat-raised-button color="primary" (click)="openEditQuestion()">
		{{'QUESTION_EDIT_MODAL.EDIT' | translate}}
	</button>
</div>
