@import 'src/styles/base';
@import 'src/styles/colors';

.reported {
	color: $red;
}

.radio-choice-group {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 70%;
}
.question-text {
	width: 100%;
	padding: 20px;
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.question {
	margin-top: 20px;
	width: 100%;
}
.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
	color: #151464;
}
.radio-btn {
	display: block;
	width: 100%;
}
.btn-wrapper {
	margin: 10px 0;
	button {
		border: 1px solid $gray;
	}
}
:host ::ng-deep {
	.mat-radio-group {
		width: 100%;
	}

	.mat-radio-container {
		height: 25px;
		width: 25px;
	}

	.mat-radio-label {
		height: 70px;
		padding-left: 15px;
	}

	.mat-radio-button {
		margin-left: -15px;
		.mat-radio-ripple {
			height: 50px;
			width: 50px;
			left: calc(50% - 25px);
			top: calc(50% - 25px);
		}
	}
	.mat-radio-outer-circle {
		height: 25px;
		width: 25px;
	}
	.mat-radio-inner-circle {
		height: 25px;
		width: 25px;
	}
}

.check-question-message {
	color: tomato;
	font-size: smaller;
}
.view-comment-btn {
	margin-left: 10px;
}
