<div class="create">
	<app-menu></app-menu>
	<div class="create-container">
		<mat-tab-group class="tabs_content" animationDuration="0ms" mat-align-tabs="center">
			<mat-tab label="{{ 'CREATE_PAGE.GRAMMAR' | translate }}">
				<div class="tab-body">
					<app-new-grammar></app-new-grammar>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'CREATE_PAGE.LISTENING' | translate }}">
				<div class="tab-body">
					<app-new-listening></app-new-listening>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'CREATE_PAGE.TOPIC' | translate }}">
				<div class="tab-body">
					<app-new-topic></app-new-topic>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>

<toaster-container [toasterconfig]="configPopUp"></toaster-container>
