@import '../../../styles/base';

.create {
	height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: row;

	.create-container,
	mat-tab-group {
		height: 100%;
	}
	.create-container {
		flex: 1;
	}
}
