<div class="main-container">
	<div class="audio-container">
		<div class="player">
			<mat-toolbar color="primary">
				<mat-toolbar-row class="player-toolbar">
					{{ state?.readableCurrentTime }}
					<mat-slider
						class="time-slider"
						min="0"
						[max]="state?.duration"
						step="1"
						[value]="state?.currentTime"
						(input)="onSliderChangeEnd($event)"
						[disabled]="state?.error || currentFile.index === undefined || state?.playing"
					></mat-slider>
					{{ state?.readableDuration }}
				</mat-toolbar-row>
				<mat-toolbar-row class="media-action-bar">
					<button mat-button (click)="play(files[0], 0)" [disabled]="state?.error" *ngIf="!state?.playing">
						<mat-icon mat-list-icon class="play-pause-button">play_circle_filled</mat-icon>
					</button>
					<button mat-button (click)="pause()" *ngIf="state?.playing">
						<mat-icon mat-list-icon class="play-pause-button">pause</mat-icon>
					</button>
				</mat-toolbar-row>
			</mat-toolbar>
			<h1 class="attempts" *ngIf="NumberOfAttempts != 3">Number of attempts is {{NumberOfAttempts}}</h1>
			<h1 class="attempts" *ngIf="NumberOfAttempts === 3">That's all, my friend</h1>
		</div>
	</div>
	<div class="question-container">
		<div class="nav-btns">
			<button
				mat-mini-fab
				color="white"
				class="nav-arrow-btn"
				(click)="currentIndex > 0 ? currentIndex = currentIndex - 1: currentIndex"
			>
				<mat-icon>arrow_left</mat-icon>
			</button>
			<app-test-nav-btn
				*ngFor="let question of questions; index as i;"
				[question]="question"
				[index]="i"
				[currentIndex]="currentIndex"
				(click)="currentIndex = i"
			>
			</app-test-nav-btn>
			<button
				mat-mini-fab
				color="white"
				class="nav-arrow-btn"
				(click)="currentIndex < questions.length - 1 ? currentIndex = currentIndex + 1: currentIndex"
			>
				<mat-icon>arrow_right</mat-icon>
			</button>
		</div>
		<div>
			<app-question [question]="questions[currentIndex]"></app-question>
		</div>
	</div>
</div>
