<div class="audition">
	<div class="main-content">
		<div class="music-container">
			<div class="time-control">
				<div class="play-control">
					<!--          <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">-->
					<!--          <mat-icon mat-list-icon>play_circle_filled</mat-icon>-->
					<!--          </button>-->
					<!--          <button mat-button (click)="pause()" *ngIf="state?.playing">-->
					<!--            <mat-icon mat-list-icon>pause</mat-icon>-->
					<!--          </button>-->
				</div>
				<div class="track"></div>
			</div>
			<div class="attempt-control"></div>
		</div>

		<!--    <div class="media-footer">-->
		<!--      <mat-toolbar color="primary">-->
		<!--        <mat-toolbar-row>-->
		<!--          {{ state?.readableCurrentTime }}-->
		<!--          <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>-->
		<!--          {{ state?.readableDuration }}-->
		<!--        </mat-toolbar-row>-->

		<!--        <mat-toolbar-row class="media-action-bar">-->
		<!--          <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">-->
		<!--            <mat-icon mat-list-icon>skip_previous</mat-icon>-->
		<!--          </button>-->

		<!--          <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">-->
		<!--            <mat-icon mat-list-icon>play_circle_filled</mat-icon>-->
		<!--          </button>-->

		<!--          <button mat-button (click)="pause()" *ngIf="state?.playing">-->
		<!--            <mat-icon mat-list-icon>pause</mat-icon>-->
		<!--          </button>-->

		<!--          <button  mat-button [disabled]="isLastPlaying()" (click)="next()">-->
		<!--            <mat-icon mat-list-icon>skip_next</mat-icon>-->
		<!--          </button>-->
		<!--        </mat-toolbar-row>-->
		<!--      </mat-toolbar>-->
		<!--    </div>-->

		<div class="question-container">
			<div class="question-navigation">
				<button *ngFor="let question of questions" (click)="currentId = question.id">qwe</button>
			</div>
			<div class="question-answer">
				<app-question [question]="questions[currentId]"></app-question>
			</div>
		</div>
	</div>
</div>
