@import 'src/styles/colors';

.main-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}

.audio-container {
	width: 50%;
	height: 100%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player {
	width: 75%;
	height: 100%;
	min-height: 15vh;
	min-width: 15vh;
}

.player-container {
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.question-container {
	width: 50%;
	height: 100%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: row;
	justify-content: center;
}

.player-toolbar {
	display: flex;
	box-sizing: border-box;
	padding: 0 16px;
	width: 100%;
	white-space: nowrap;
	align-items: center;
	justify-content: space-evenly;
}

.media-action-bar {
	display: flex;
	box-sizing: border-box;
	padding: 0 16px;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: baseline;
	white-space: nowrap;
	justify-content: center;

	.play-pause-button {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	.audio-icon {
		width: 100%;
		height: 100%;
		font-size: 8rem;
	}
}

.time-slider {
	width: 100%;
	height: 100%;

	.mat-slider-wrapper {
		background: $white;
		border-color: $white;

		.mat-slider-thumb {
			border-color: $white;
			background-color: $white;
		}
	}
}

.nav-btns {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.nav-arrow-btn {
	margin: 0 30px;
}

.attempts {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
	margin-top: 30px;
	background-color: #f9f9f9;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.87);
	border-radius: 4px;
	height: 70px;
}

@media screen and (max-width: 768px) {
	.audio-container {
		width: 90%;
	}
	.question-container {
		width: 60%;
	}
}
