@import 'src/styles/base';
@import 'src/styles/mixins/media-query';

.start-info {
	padding: 30px;
	flex: 1;
	display: inline-flex;
	background-color: $white;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;

	.info-message {
		margin-bottom: 20px;
		font-size: 20px;
		letter-spacing: 1px;

		.label {
			color: $light-blue;
			font-weight: bold;
		}

		.user-name,
		.assign-number {
			color: #fa973a;
		}
	}

	.info-pic {
		width: 100%;
		max-width: 600px;
	}
}

@include media(min, M) {
	.start-info {
		padding: 0;
	}
}

.check-out-btn {
	font-size: 20px;
	text-decoration: none;
}
