@import 'src/styles/base';

.start-info {
	flex: 1;
	display: inline-flex;
	background-color: $white;
}

.info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.info-message {
	margin-bottom: 20px;

	.label {
		color: $light-blue;
		font-weight: bold;
	}
}

.btn {
	min-width: 300px;
	height: 8vh;
	margin: 10px 0 10px;

	.btn-link {
		color: $white;
		text-decoration: none;
		width: 100%;
		display: flex;
		align-content: center;
		justify-content: center;
	}
}
