<div class="page-wrapper">
	<app-menu></app-menu>
	<div class="start-info">
		<div class="info-container">
			<div class="info-message">{{ 'MAIN.HELLO' | translate }}, <span class="label">{{userName}}</span>!</div>
			<div class="info-message">
				<span
					>{{ 'MAIN.YOU_HAVE' | translate }} <span class="label">{{assignNumber}}</span> {{ 'MAIN.ASS_TESTS' |
					translate }}</span
				>
				<span *ngIf="assignNumber"> {{ 'MAIN.CHECK_OUT' | translate }}</span>
			</div>
			<img class="info-pic" src="/assets/images/info-pic.png" alt="" />
		</div>
	</div>
</div>
