@import 'font';
@import 'colors';

$header-height: 60px;
$footer-height: 30px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $app-font;
	font-size: $font-body;
}

body {
	overflow-x: hidden;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $light-gray;
}

h1 {
	font-size: $font-size-h1;
}

h2 {
	font-size: $font-size-h2;
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

a {
	font-size: $font-size-link;
}

p {
	font-size: $font-body;
}
