$light-blue: #75b5fa;
$blue: #6da2e1;
$dark-blue: #4d6b99;
$aqua-blue: #0b93f6;
$exalearn-logo: #151464;

$light-gray: #E9E9E9;
$gray: #A0A0A0;
$dark-gray: #6A6868;

$yellow: #ffdb4d;
$light-yellow: #fff25f;
$dark-yellow: #e2bf48;

$light-red: #fb5b74;
$red: #f20026;
$green: #5ef217;
$dark-red: #b5001d;

$black: #000000;
$white: #ffffff;
