$super-light-blue: #ebf3fa;
$light-blue: #75b5fa;
$blue: #6da2e1;
$dark-blue: #4d6b99;
$dark-blue-2: #415d88;
$aqua-blue: #0b93f6;
$exalearn-logo: #151464;
$angular-blue: #2196f3;
$logo-blue: #118acf;

$super-light-gray: #f9f9f9;
$light-gray: #e9e9e9;
$gray: #a0a0a0;
$dark-gray: #6a6868;

$yellow: #ffdb4d;
$light-yellow: #fff25f;
$dark-yellow: #e2bf48;
$orange: #fa973a;

$light-red: #fb5b74;
$red: #f20026;
$green: #5ef217;
$dark-red: #b5001d;

$black: #000000;
$white: #ffffff;
