$app-font: Roboto, sans-serif;
$font-size-h1: 5rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-h5: 1.4rem;
$font-size-link: 1.1rem;
$font-size-button: 1.2rem;
$font-body: 1rem;
