@use '~@angular/material' as mat;

@include mat.core();

$exalearn-primary: mat.define-palette(mat.$blue-palette);
$exalearn-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$exalearn-warn: mat.define-palette(mat.$red-palette);

$exalearn-theme: mat.define-light-theme((
  color: (
    primary: $exalearn-primary,
    accent: $exalearn-accent,
    warn: $exalearn-warn,
  )
));

@include mat.all-component-themes($exalearn-theme);
