<div class="grammar-module">
	<div>
		<button
			mat-mini-fab
			color="white"
			class="nav-arrow-btn"
			(click)="currentIndex > 0 ? currentIndex = currentIndex - 1: currentIndex"
		>
			<mat-icon>arrow_left</mat-icon>
		</button>
		<app-test-nav-btn
			*ngFor="let question of testQuestions; index as i;"
			[question]="question"
			[index]="i"
			[currentIndex]="currentIndex"
			[questionId]="question.id"
			(click)="currentIndex = i"
		>
		</app-test-nav-btn>
		<button
			mat-mini-fab
			color="white"
			class="nav-arrow-btn"
			(click)="currentIndex < testQuestions.length - 1 ? currentIndex = currentIndex + 1: currentIndex"
		>
			<mat-icon>arrow_right</mat-icon>
		</button>
		<div>
			<app-question [question]="testQuestions[currentIndex]" [currentIndex]="currentIndex"></app-question>
		</div>
	</div>
</div>
