.radio-choice-group {
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 70%;
}
.question-text {
	width: 100%;
	padding: 50px 40px;
	font-size: 2.5rem;
	line-height: 2.5rem;
}
.question {
	margin-top: 20px;
	width: 100%;
}
.radio-btn {
	display: block;
	width: 100%;
}
.btn-wrapper {
	margin: 10px 0;
}
:host ::ng-deep {
	.mat-radio-group {
		width: 100%;
	}

	.mat-radio-container {
		height: 25px;
		width: 25px;
	}

	.mat-radio-label {
		height: 70px;
		padding-left: 15px;
	}

	.mat-radio-button {
		margin-left: -15px;
		.mat-radio-ripple {
			height: 50px;
			width: 50px;
			left: calc(50% - 25px);
			top: calc(50% - 25px);
		}
	}
	.mat-radio-outer-circle {
		height: 25px;
		width: 25px;
	}
	.mat-radio-inner-circle {
		height: 25px;
		width: 25px;
	}
}
