@import 'src/styles/colors';
.report-comment-field {
	text-align: start;
	margin-top: 10px;
	border-radius: 5px;
	background: $light-gray;
	padding: 15px;
}
.close-btn {
	margin-top: 15px;
}
.report-modal {
	text-align: center;
}
