@import '../../../styles/base';

.error-page {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;
	background-color: $white;
}

.button {
	min-width: 200px;
	min-height: 100px;
	font-size: 2em;
}

app-footer {
	display: none;
}
