@import '../../styles/base';

.header {
	position: fixed;
	width: 100vw;
	top: 0;
	height: $header-height;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 999;

	.logo {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 48px;
		height: 40px;
	}

	.authorized-btns {
		display: inline-flex;

		.profile,
		.logout-btn:hover {
			cursor: pointer;
		}

		.header-btn {
			margin-right: 20px;
		}
	}
}
