@import '../../../styles/colors';
@import '../../../styles/font.scss';
@import '../../../styles/mixins/media-query.scss';

.new-grammar {
	display: grid;
	justify-items: center;
	margin-left: 60px;

	mat-form-field {
		width: 700px;
	}

	mat-error {
		font-size: 13px;
	}
}

.level-container {
	margin-right: 60px;
}

.question-container {
	margin-top: 5px;
	margin-right: 60px;

	textarea {
		height: 70px;
		resize: none;
	}
}

.answer-container {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.radio-container {
	display: grid;
	align-content: center;
	justify-content: center;
	padding-left: 30px;
	width: 60px;
	height: 60px;
}

.submit-grammar {
	display: grid;
	align-content: start;
	margin: 20px 0;
	width: 700px;

	.submit-btn {
		height: 50px;
	}
}

.load {
	padding: 15px 0;
	height: 3px;
}

.reminder-answer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: flex-end;

	.reminder-text {
		font-size: 15px;
		color: $aqua-blue;
	}

	.reminder-error {
		font-size: 15px;
		color: $red;
	}

	.reminder-pointer {
		padding-left: 30px;
		width: 60px;
		height: 10px;
	}
}

@mixin adapt($margin-left, $submit-margin, $elem-width) {
	.new-grammar {
		margin-left: $margin-left;

		mat-form-field {
			width: $elem-width;
		}
	}

	.submit-grammar {
		margin: $submit-margin 0;
		width: $elem-width;
	}
}

@include media(max, L) {
	@include adapt(0, 20px, 600px);
}

@include media(max, M) {
	@include adapt(60px, 20px, 500px);
}

@include media(max, S) {
	@include adapt(0, 10px, 270px);
}

@include media(max, XS) {
	@include adapt(0, 10px, 230px);
}
