@import '../../../styles/base';

.modal-parameters-container {
	width: 50%;
	margin: auto;
}

.modal-parameter {
	width: 100%;
}

.check-modal {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
