@import '../../../styles/base';

.modal-parameters-container {
	width: 50%;
	margin: auto;
}

.modal-parameter {
	width: 100%;
}

::ng-deep {
	.mat-dialog-container {
		text-align: center;
	}

	.mat-raised-button {
		padding: 0 10px;
	}

	.mat-dialog-content {
		overflow: visible;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}
