<div class="modal-wrapper">
	<span mat-dialog-title class="finish-text">{{ 'FINISH_TEST_MODAL.TEXT' | translate }}</span>
	<div mat-dialog-content>
		<div mat-dialog-actions class="confirm-btn">
			<button mat-raised-button color="primary" (click)="submitTest()">
				{{ 'FINISH_TEST_MODAL.BUTTON_YES' | translate }}
			</button>
		</div>
		<div mat-dialog-actions class="cancel-btn">
			<button mat-raised-button color="primary" (click)="closeDialog()">
				{{ 'FINISH_TEST_MODAL.BUTTON_NO' | translate }}
			</button>
		</div>
	</div>
</div>
