@import '../../../styles/base';

.modal-wrapper {
	padding: 24px;
}

.modal-parameters-container {
	width: 50%;
	margin: auto;
}

.modal-parameter {
	width: 100%;
}

::ng-deep {
	.mat-dialog-container {
		text-align: center;
	}

	.mat-raised-button {
		padding: 0 10px;
		margin: 0 0 10px 0;
	}

	.mat-dialog-content {
		overflow: visible;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
}

.confirm-btn,
.cancel-btn {
	justify-content: center;
	font-size: $font-size-button;
	line-height: $font-size-button;
}
