<mat-spinner class="spinner" color="primary" *ngIf="!isDataAvailable"></mat-spinner>
<div class="essay-container" *ngIf="isDataAvailable">
	<h3>{{ 'ESSAY_PART.ESSAY_TOPIC' | translate }}: <span class="essay-topic">{{questionsEssay.topic}}</span></h3>
	<form class="essay-form">
		<mat-form-field class="essay-full-width" appearance="fill">
			<mat-label
				>{{ 'ESSAY_PART.MAXIMUM_CHARACTERS' | translate }} {{fillingEssay}} {{ 'ESSAY_PART.CHARACTERS' |
				translate }}</mat-label
			>
			<textarea
				class="essay-full-height"
				#essayText
				(input)="inputHandler(essayText.value)"
				[attr.maxlength]="fillingEssay"
				matInput
				placeholder="Ex. It makes me feel..."
			></textarea>
			<mat-hint align="end">{{essayText.value.length}} / {{fillingEssay}}</mat-hint>
		</mat-form-field>
	</form>
	<button mat-icon-button matTooltip="Report topic" class="report-button" (click)="openReportDialog()">
		<mat-icon aria-hidden="false" aria-label="report question" class="report-icon">flag</mat-icon>
	</button>
</div>
