.essay-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.essay-topic {
	font-weight: bolder;
}

.essay-form {
	height: 100%;
	width: 80%;
}

.essay-full-width {
	width: 100%;
}

.essay-full-height {
	height: 50vh;
}
