.essay-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.essay-topic {
	font-weight: bolder;
}

.essay-form {
	height: 100%;
	width: 95%;
	max-width: 700px;
}

.essay-full-width {
	width: 100%;
}

.essay-full-height {
	min-height: 200px;
	resize: none;
}

.spinner {
	margin: 25% auto 25% auto;
}
