@import 'src/styles/colors';

.essay-container {
	width: 100%;
	height: 100%;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.essay-topic {
	font-weight: bolder;
}

.essay-form {
	height: 100%;
	width: 95%;
	max-width: 700px;
}

.essay-full-width {
	width: 100%;
}

.essay-full-height {
	min-height: 200px;
	resize: none;
}

.spinner {
	margin: 25% auto;
}

@media screen and (max-width: 650px) {
	.essay-container {
		margin-top: 0;
	}
}
.report-button {
	color: $red;
}
.report-icon {
	color: $red;
	margin: -2px 0 0 -5px;
	font-size: 30px;
	cursor: pointer;
}
