@import '../../../styles/base';

.header {
	position: fixed;
	width: 100vw;
	top: 0;
	height: $header-height;
	display: flex;
	align-items: center;
	z-index: 666;
	background-color: $super-light-blue;

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 10px;
		margin-right: 10px;

		.logo {
			width: 48px;
			height: 40px;
		}
	}

	.authorized-btns {
		flex: 1;
		display: flex;
		justify-content: flex-end;

		.header-btn {
			margin-right: 20px;
		}
	}
}

@include media(max, M) {
	.header-btn {
		display: none;
	}
}
