@import '../../../styles/base';

.header {
	position: fixed;
	width: 100vw;
	top: 0;
	height: $header-height;
	display: flex;
	align-items: center;
	z-index: 666;
	background-color: $super-light-blue;

	.header-contents {
		flex: 1;
		display: flex;
		flex-direction: row;
		max-width: $app-width;
		margin-left: auto;
		margin-right: auto;

		.logo-container {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 10px;
			margin-right: 10px;
		}

		.logout-btn {
			flex: 1;
			display: flex;
			justify-content: flex-end;

			.header-btn {
				margin-right: 20px;
			}
		}
	}
}

@include media(min, M) {
	.logo-mini {
		display: none;
	}
	.logo-full {
		width: 180px;
	}
}

@include media(max, M) {
	.header-btn,
	.logo-full {
		display: none;
	}
	.logo-mini {
		width: 45px;
		display: block;
	}
}
