@import '../../../styles/colors';
@import '../../../styles/font';

.timer.sticky {
	position: absolute;
	width: 300px;
	text-transform: uppercase;
	top: 4px;
	left: calc(50% - 150px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	.time-left {
		color: $exalearn-logo;
		font-size: $font-size-link;
		letter-spacing: 1.5px;
		margin-right: 10px;
	}

	.time-data {
		background-color: $aqua-blue;
		border-radius: 50%;
		color: $white;
		font-size: $font-body;
		line-height: 1.1rem;
		padding: 6px;
		margin: 10px;
	}
}

.timer.inline {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;

	.time-left {
		margin-right: 10px;
	}

	.time-data {
		font-weight: 700;
	}
}
