@import '../../../styles/colors';
@import '../../../styles/font';

.timer {
	background-color: $light-blue;
	width: 100%;
	//TODO CHANGED TO 15VH
	//height: 12vh;
	height: 15vh;
	text-transform: uppercase;
	//padding: 10px 0;
	//TODO ADDED PADDING 30 PX
	padding: 10px 0 30px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;

	.time-left {
		color: $exalearn-logo;
		font-size: $font-size-link;
		letter-spacing: 2px;
		margin-right: 20px;
	}
	.timer-data {
		background-color: $aqua-blue;
		color: $white;
		font-size: $font-size-link;
		padding: 10px;
		margin: 10px;
	}
}
