@import '../../../styles/font';
@import '../../../styles/colors';
@import '../../../styles/mixins/media-query';

.timer.sticky {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;

	.time-left {
		font-size: 30px;
		letter-spacing: 1.5px;
		margin-right: 10px;
		color: $dark-red;
	}

	.time-data {
		border: 2px solid $black;
		font-size: 20px;
		padding: 5px;
		margin: 0 10px;
	}
}

.timer.inline {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;

	.time-left {
		margin-right: 10px;
	}

	.time-data {
		font-weight: 700;
	}
}

@include media(max, S) {
	.timer.sticky {
		.time-left {
			font-size: 16px;
			margin-right: 0;
		}
		.time-data {
			border: 1px solid $black;
			font-size: 14px;
			margin: 0 5px;
		}
	}
}
