.test {
	display: grid;
	place-items: center;

	.test-container {
		width: 100%;
		//TODO CHANGED PADDING FROM 20px 40px to: 60px 40px
		padding: 60px 40px;
		min-height: 100vh;

		.tab-body {
			padding: 30px 0;
		}
	}
}
