<div class="test">
	<div class="test-container">
		<mat-tab-group class="tabs_content" animationDuration="0ms" mat-align-tabs="center">
			<mat-tab label="Grammar">
				<div class="tab-body"><app-test-grammar></app-test-grammar></div>
			</mat-tab>
			<mat-tab label="Listening">
				<div class="tab-body">Listening component goes here</div>
			</mat-tab>
			<mat-tab label="Writing">
				<div class="tab-body"><app-essay-part></app-essay-part></div>
			</mat-tab>
			<mat-tab label="Speaking">
				<div class="tab-body"><app-speaking></app-speaking></div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>

<app-timer></app-timer>
