<div class="test">
	<div class="test-container">
		<mat-tab-group class="tabs_content" animationDuration="0ms" mat-align-tabs="center">
			<mat-tab label="{{ 'TEST_PAGE.GRAMMAR' | translate }}">
				<div class="tab-body">
					<app-test-grammar [questions]="testQuestions"></app-test-grammar>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.LISTENING' | translate }}">
				<div class="tab-body">
					<app-audition [questionsAudio]="testQuestionsAudio"></app-audition>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.WRITING' | translate }}">
				<div class="tab-body">
					<app-essay-part></app-essay-part>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.SPEAKING' | translate }}">
				<div class="tab-body"><app-speaking></app-speaking></div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
<app-finish-test-button></app-finish-test-button>
<app-timer [startTimerOnInit]="true" [label]="innerText" mode="sticky"></app-timer>
