@import '../../../styles/base';
@import '../../../styles/colors';
@import '../../../styles/mixins/media-query';

.menu-container {
	display: none;

	.links-container {
		width: $menu-width;
		padding: 20px 20px 0;
		display: flex;
		flex-direction: column;
	}

	.menu-link {
		color: $dark-gray;
		text-decoration: none;
		font-size: 15px;
		margin: 4px 0;
		padding: 6px 12px;
		border-radius: 4px;
		transition: all 0.2s;
		cursor: pointer;
	}

	.menu-link:hover,
	.menu-link-active {
		background-color: $super-light-blue;
		color: $angular-blue;
	}

	.menu-link-test {
		margin-bottom: 30px;
	}
}

.small-menu {
	display: none;
}

@include media(min, M) {
	.menu-container {
		min-height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		border-right: 2px solid $super-light-blue;
	}
}
