@import 'src/styles/colors';
@import 'src/styles/font';
.modal-parameters-container {
	margin: auto;
	mat-form-field {
		width: 230px;
	}
}
.modal-parameter {
	width: 100%;
	margin-bottom: 7px;
}
::ng-deep {
	.mat-dialog-container {
		position: relative;
		text-align: center;
	}
	.mat-dialog-content {
		overflow: visible;
	}
}
.btns-container {
	justify-content: center;
	font-size: $font-size-button;
	line-height: $font-size-button;
}
.email-checkbox {
	margin-bottom: 10px;
}

.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}

.assign-btn {
	color: $white;
	width: 230px;
}
