<h1 mat-dialog-title>Assign test on {{data.name}}</h1>
<div mat-dialog-content>
	<div>
		<mat-form-field appearance="fill" class="modal-parameter">
			<mat-label>English level</mat-label>
			<mat-select (selectionChange)="onLevelChange($event)">
				<mat-option *ngFor="let level of levelsValues" [value]="level"> {{level}} </mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field appearance="fill" class="modal-parameter">
			<mat-label>Expire date</mat-label>
			<input matInput [min]="minDate" [matDatepicker]="picker" (dateChange)="onDateChange($event)" />
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</div>
	<div class="link-container">generated link will be here</div>
	<mat-checkbox class="email-checkbox" [checked]="sendEmail" (change)="toggle($event)">
		Send email to user
	</mat-checkbox>
</div>
<div mat-dialog-actions class="assign-btn">
	<button mat-raised-button (click)="assign()" cdkFocusInitial>Assign</button>
</div>
