<div class="test">
	<div class="test-container">
		<mat-tab-group class="tabs_content" animationDuration="0ms" mat-align-tabs="center">
			<mat-tab label="{{ 'TEST_PAGE.GRAMMAR' | translate }}">
				<div class="tab-body">
					<app-check-grammar [testGrammar]="testGrammar"></app-check-grammar>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.LISTENING' | translate }}">
				<div class="tab-body">
					<app-check-audition [testAudition]="testAudition"></app-check-audition>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.WRITING' | translate }}">
				<div class="tab-body">
					<app-check-essay [testTopic]="testTopic[0]"></app-check-essay>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.SPEAKING' | translate }}">
				<!--        TODO insert here [testTopic]="testTopic[1]" TODO and in component @Input() testTopic: CheckCoachQuestion;-->
				<div class="tab-body">speaking module check</div>
			</mat-tab>
		</mat-tab-group>
	</div>

	<div class="bottom-stick">
		<div class="buttons-container">
			<app-draft-checked-test-button></app-draft-checked-test-button>
			<app-submit-checked-test-button></app-submit-checked-test-button>
		</div>
	</div>
</div>
