<div class="test">
	<div class="test-container">
		<mat-tab-group class="tabs_content" animationDuration="0ms" mat-align-tabs="center">
			<mat-tab label="{{ 'TEST_PAGE.GRAMMAR' | translate }}">
				<div class="tab-body">
					<app-check-grammar></app-check-grammar>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.LISTENING' | translate }}">
				<div class="tab-body">
					<app-check-audition></app-check-audition>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.WRITING' | translate }}">
				<div class="tab-body">
					<app-essay-part></app-essay-part>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TEST_PAGE.SPEAKING' | translate }}">
				<div class="tab-body">speaking module check</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
