<div class="modal-wrapper">
	<h4 mat-dialog-title class="modal-title">{{ 'VIEW_MODAL.IMPORTANT_INFO' | translate }}</h4>
	<div class="test-message">
		<p>{{ 'START_MODAL.TIME' | translate }}</p>
		<p>{{ 'START_MODAL.SECTION' | translate }}</p>
		<p>{{ 'START_MODAL.HEADPHONES' | translate }}</p>
		<p>{{ 'START_MODAL.MICROPHONE' | translate }}</p>
	</div>
	<div class="modal-parameters-container">
		<mat-form-field appearance="fill" class="modal-parameter">
			<mat-label>{{ 'VIEW_MODAL.ENGLISH_LEVEL' | translate }}</mat-label>
			<mat-select [disabled]="selectDisabled" [value]="selected" (selectionChange)="onLevelChange($event)">
				<mat-option *ngFor="let level of levelsValues" [value]="level"> {{level}} </mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="btns-container">
		<button mat-raised-button color="primary" [disabled]="buttonDisabled" class="btn" (click)="createTest()">
			{{ 'VIEW_MODAL.START' | translate }}
		</button>
		<button class="close-btn" mat-raised-button color="primary" (click)="closeModal()">
			{{'MODAL_BUTTONS.CLOSE_MODAL' | translate }}
		</button>
	</div>
</div>
