@import 'src/styles/base';

.modal-parameters-container {
	width: 50%;
	margin: auto;
}
.modal-parameter {
	width: 100%;
}

.modal-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 24px;
}

.modal-title {
	width: 100%;
	background-color: $super-light-blue;
	padding: 20px;
	margin-block-end: 0;
}

.test-message {
	padding: 20px 15px;
}

::ng-deep {
	.mat-dialog-container {
		text-align: center;
		padding: 0;
	}
	.mat-select-panel {
		max-height: 300px !important;
	}
}
.btns-container .close-btn {
	margin-left: 30px;
}
