@import 'src/styles/base';

.modal-parameters-container {
	width: 50%;
	margin: auto;
}
.modal-parameter {
	width: 100%;
}

.modal-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

::ng-deep {
	.mat-dialog-container {
		text-align: center;
	}
	.mat-select-panel {
		max-height: 300px !important;
	}
}
.btns-container .close-btn {
	margin-left: 30px;
}
