$app-font: Roboto, sans-serif;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-weight-light: lighter;
$font-weight-bold: bold;
$font-size-a: 1.1rem;
$font-size-p: 1.4rem;
$font-size: 1rem;
