<div class="speakingModule">
	<h2 class="speakingModule-topic">{{'TEST_PAGE.SPEAKING_TOPIC'|translate}} : "{{topic |uppercase}}"</h2>
	<img class="speakingModule-img" src="./assets/images/microphone.png" alt="" />
	<div class="speakingModule-info">
		<!--			{{'TEST_PAGE.SPEAKING_RECORDING'|translate}}: timer-->
		<app-timer [speakingTimerStarted]="speakingTimerStarted" [label]="innerText" [mode]="mode" #timer> </app-timer>
		<h3>
			{{'TEST_PAGE.SPEAKING_MAX-DURATION'|translate}}:<b> {{recordingDuration/60000}} </b
			>{{'TEST_PAGE.SPEAKING_MINUTES'|translate|lowercase}}
		</h3>
	</div>

	<div class="speakingModule-buttons">
		<button mat-raised-button color="primary" class="btn" [disabled]="recording" (click)="startRecording()">
			{{'TEST_PAGE.SPEAKING_BTN-RECORD'|translate|uppercase}}
		</button>
		<button mat-raised-button color="warn" class="btn" [disabled]="!recording" (click)="stopRecording()">
			{{'TEST_PAGE.SPEAKING_BTN-STOP'|translate|uppercase}}
		</button>
	</div>
</div>
