.speakingModule {
	align-content: center;
	&-topic {
		text-align: center;
	}
	&-buttons {
		display: flex;
		justify-content: space-around;
	}
	&-img {
		width: 150px;
		display: block;
		margin: 0 auto;
	}
}

.btn-size {
	width: 100px;
	height: 100px;
}
