.spinnerPage {
	margin: 25% auto 25% auto;
}

.speaking {
	align-content: center;
	min-width: 100%;
	min-height: 100%;

	&-topic {
		text-align: center;
	}

	&-buttons {
		display: flex;
		justify-content: center;
	}

	&-img {
		width: 150px;
		display: block;
		margin: 20px auto;
	}

	&-info {
		text-align: center;
	}

	.btn {
		width: 100px;
		margin: 0 25px;
	}
}

.spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	z-index: 1;
}
