.speaking {
	align-content: center;

	&-topic {
		text-align: center;
	}
	&-buttons {
		display: flex;
		justify-content: center;
	}
	&-img {
		width: 150px;
		display: block;
		margin: 20px auto;
	}

	&-info {
		text-align: center;
	}

	.btn {
		width: 100px;
		margin: 0 25px;
	}
}

.spinnerPage {
	margin: 25% auto 25% auto;
}

.spinner-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
