<mat-spinner class="spinnerPage" color="primary" *ngIf="!isDataAvailable"></mat-spinner>
<div class="speaking" *ngIf="isDataAvailable">
	<h3 class="speaking-topic">
		{{'TEST_PAGE.SPEAKING_TOPIC' | translate}}: <strong>{{questionsSpeaking.topic | uppercase}}</strong>
	</h3>
	<img class="speaking-img" src="./assets/images/microphone.png" alt="Speaking icon" />
	<div class="speaking-info">
		<app-timer
			[speakingTimerStarted]="speakingTimerStarted"
			[resetSpeakingTimer]="resetSpeakingTimer"
			[label]="innerText"
			mode="inline"
		>
		</app-timer>
		<h3>
			{{'TEST_PAGE.SPEAKING_MAX-DURATION' | translate}}:<strong> {{ recordingDuration / 60000}} </strong
			>{{'TEST_PAGE.SPEAKING_MINUTES' | translate | lowercase}}
		</h3>
	</div>
	<div class="spinner-container" *ngIf="isRecordReadySpinner">
		<mat-spinner class="spinner" color="primary"></mat-spinner>
	</div>

	<div class="speaking-buttons">
		<button
			mat-raised-button
			color="primary"
			class="btn"
			[disabled]="recording || isRecordReadySpinner"
			(click)="startRecording()"
		>
			{{'TEST_PAGE.SPEAKING_BTN-RECORD' | translate | uppercase}}
		</button>
		<button
			mat-raised-button
			color="warn"
			class="btn"
			[disabled]="!recording || isRecordReadySpinner"
			(click)="stopRecording()"
		>
			{{'TEST_PAGE.SPEAKING_BTN-STOP' | translate | uppercase}}
		</button>
	</div>
	<div class="report-button-wrapper">
		<button mat-icon-button matTooltip="Report topic" class="report-button" (click)="openReportDialog()">
			<mat-icon aria-hidden="false" aria-label="report question" class="report-icon">flag</mat-icon>
		</button>
	</div>
</div>

<toaster-container [toasterconfig]="configPop"></toaster-container>
