<div class="page-wrapper">
	<app-menu></app-menu>
	<div class="question">
		<div class="content">
			<div class="title">{{ 'QUESTION_PAGE.QUESTION_PAGE_TITLE' | translate }}</div>
			<mat-spinner class="spinner" color="primary" *ngIf="!isDataAvailable"></mat-spinner>
			<app-mark [marks]="levelTypes" (changed)="setLevel($event)"></app-mark>
			<app-data-table
				[displaySearch]="false"
				[displayedColumns]="tableColumns"
				[data]="data"
				*ngIf="isDataAvailable"
			></app-data-table>
		</div>
	</div>
</div>
