@import '../../../styles/base';

.history {
	flex: 1;
	display: inline-flex;
	background-color: $white;

	.content {
		flex: 1;
		overflow-y: scroll;
	}

	.title {
		text-align: center;
		height: 50px;
		line-height: 50px;
	}
}
.spinner {
	margin: auto;
}
