@import 'src/styles/base';

.modal-wrapper {
	padding-bottom: 24px;
}

.modal-title {
	margin-block-end: 0;
	width: 100%;
	background-color: $super-light-blue;
	padding: 20px;
}
.form-field {
	width: 100%;
}
.report-wrapper {
	padding: 20px;
}
.description {
	padding-bottom: 20px;
}
.comment-textarea {
	resize: none;
}
.btn-container {
	justify-content: space-evenly;
}
.close-btn {
	margin-left: 30px;
}
