@import 'src/styles/colors';
.question-form-field {
	width: 100%;
}
.answers {
	margin-top: 10px;
}
.answer-form-field {
	width: 100%;
}
.btns-container {
	display: flex;
	justify-content: space-around;
}
.restore-btn {
	background-color: $green;
}
